*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Arbutus Slab';
    src: url('font/ArbutusSlab-Regular.ttf') format('truetype');
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6e9;
    color: #272727;
}

section h2,p{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section h2{
    margin-bottom: 30px;
}

section p {
    text-align: justify;
    line-height: 1.6; 
    margin-bottom: 30px; 
}


header {
    font-family: "Bree Serif", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    background-color: #f6f6e9;
    color: #272727;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 15px;
}

nav {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color:#272727;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.192);
}

nav a {
    color: #f6f6e9;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a {
    transition: color 0.3s ease;
}

nav a:hover {
    color:#587c59;
}


.hero {
    background-image: url('caminho-da-imagem-hero.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: #fdfcf2;
    text-align: center;
}

section {
    padding: 40px 20px;
    text-align: center;
}

section img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color:#587c59;
    color: #fdfcf2;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.button:hover {
    background-color: #272727;
    color: #587c59;
}

footer {
    background-color: #272727;
    color: #fdfcf2;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Mantém o estilo do corpo e das outras seções */
.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 20px;
}

.content .text {
    flex: 1;
    padding: 20px;
}

.content .image {
    flex: 1;
    text-align: center;
}

.content img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.reverse {
    flex-direction: row-reverse;
}

/* Ajustes para mobile */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    
    .reverse {
        flex-direction: column;
    }
    
    .content img {
        margin-bottom: 20px;
    }
}

